<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jandans.godotgoogleplaygamesserviceslib">
    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.GooglePlayGamesServices"
            android:value="com.jandans.godotgoogleplaygamesserviceslib.GooglePlayGamesServices"  />
    </application>
</manifest>